<link rel="stylesheet" href="/css/load/15.css">
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute-one">
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
            <div class="object-one"></div>
        </div>
        <div id="loading-center-absolute-two">
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
            <div class="object-two"></div>
        </div>
    </div>
</div>