<link rel="stylesheet" href="/css/load/23.css">
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>