<!-- Fotter -->
<div class="container footer-main">
    <!-- 二维码模块 -->
    <div class="row">
        <div class="center-block footer-QRCode" style="width: 224px">
            <div>
                <img src="/images/wechat.png" class="img-rounded" alt="WeChat" width="100px" height="100px">
                <p class="footer-left-images-desc text-center">我的微信</p>
            </div>
            <div>
                <img src="/images/wechat.png" class="img-rounded" alt="WeChat" width="100px" height="100px">
                <p class="footer-left-images-desc text-center">我的QQ</p>
            </div>
        </div>
    </div>
    <!-- Footer 信息模块 -->
    <p class="text-center">本博客项目为个人博客，未经许可不得使用于商业活动等目的。</p>
    <p class="text-center">Copyright <a href="#" target="_blank"><%= theme.siteMessage.Copyright %></a> 备案号：<a href="http://www.miitbeian.gov.cn/"
                                                                                   target="_blank"><%= theme.siteMessage.备案号 %></a></p>
    <div class="text-center">© <%= theme.siteMessage.c %></div>
</div>