
.index-3-l-2-main {
    margin: 15px 0 0 0;
}

/* ============= Title =============== */
.index-3-l-2-title-img {
    height: 27px;
    padding-bottom: 5px;
}

.index-3-l-2-title {
    padding: 15px;
    border-bottom: #3c3c3c solid 1px;
    background-color: white;
}

/* ========== Content ============= */
.index-3-l-2-content {
    padding: 0 15px;
}

.index-3-l-2-content > div:first-child {
    padding-left: 0;
}

.index-3-l-2-content > div:last-child {
    padding-right: 0;
}

.index-3-l-2-blog-1 {
    color: black;
    text-decoration: none !important;
}

.index-3-l-2-blogContent-1 {
    padding: 0 15px;
}

.index-3-l-2-blogContent-img {
    padding: 10px 0 0;
    margin: 15px;
    overflow: hidden;
}

.index-3-l-2-blogFooter-1 > div {
    display: inline-block;
    padding: 1px 5px;
    background-color: #E9EAED;
}

.index-3-l-2-blog-2-link {
    color: black;
    text-decoration: none;
}

.index-3-l-2-blog-2-img {
    overflow: hidden;
}

.index-3-l-2-blog-2-img > img {
    float: left;
}

.index-3-l-2-blogFooter-2 > div {
    display: inline-block;
    padding: 1px 5px;
    background-color: #E9EAED;
}