<!-- 左窗口-1 -->
<link rel="stylesheet" href="/css/index/3-l-1.css">
<div class="index-3-l-1-main">
    <h3 class="index-3-l-1-title">
        <img src="<%= theme.index_3_l_1.icon %>" alt="<%= theme.index_3_l_1.title %>">
        <strong>
            <%= theme.index_3_l_1.title %>
        </strong>
    </h3>
    <div class="row index-3-l-1-content">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 index-3-l-1-blog tagScale">
            <a href="#">
                <div class="img-rounded index-3-l-1-blog-img">
                    <img src="http://pic1.sc.chinaz.com/files/pic/pic9/201910/hpic1608.jpg"
                         class="img-responsive imgScale">
                </div>
                <h4 class="omitOne"><strong>border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</strong></h4>
                <p class="omitThree">border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式，border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</p>
                <div class="index-3-l-1-blog-desc">
                    <strong>
                        <div>间：2019.12.12</div>
                        <div>间：999次</div>
                        <div>间：999次</div>
                    </strong>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 index-3-l-1-blog">
            <div style="">
                <img src="http://pic1.sc.chinaz.com/files/pic/pic9/201910/hpic1608.jpg"
                     class="img-responsive img-rounded">
                <h4 class="omitOne"><strong>border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</strong></h4>
                <p class="omitThree">border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式，border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 index-3-l-1-blog">
            <div style="">
                <img src="http://pic1.sc.chinaz.com/files/pic/pic9/201910/hpic1608.jpg"
                     class="img-responsive img-rounded">
                <h4 class="omitOne"><strong>border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</strong></h4>
                <p class="omitThree">border-style 属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式，border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式border-style
                    属性用于设置元素所有边框的样式，或者单独地为各边设置边框样式</p>
            </div>
        </div>
    </div>
</div>