<!-- 左窗口-2 -->

<link rel="stylesheet" href="/css/index/3-l-2.css">
<div class="index-3-l-2-main">
    <h3 class="index-3-l-2-title">
        <img src="<%= theme.index_3_l_2.icon %>" alt="<%= theme.index_3_l_2.title %>" class="index-3-l-2-title-img">
        <strong>
            <%= theme.index_3_l_2.title %>
        </strong>
        <small><%= theme.index_3_l_2.subTitle %></small>
    </h3>
    <div class="row index-3-l-2-content">
        <!-- 特别最新博文 -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="#" class="index-3-l-2-blog-1">
                    <div class="panel panel-default">
                        <div class="panel-body index-3-l-2-blogContent-img img-rounded">
                            <img src="/images/index/3/ad1.jpg" class="img-rounded img-responsive imgScale">
                        </div>
                        <div class="index-3-l-2-blogContent-1">
                            <small>- Android</small>
                            <small>- IOS</small>
                            <h4 class="index-3-l-2-blogTitle-1 omitOne">
                                <strong>Webstorm是一款前端开发神器，此文介绍webstorm的快捷键和技巧分享。</strong>
                            </h4>
                            <p class="index-3-l-2-blogText-1 omitTwo">Webstorm是一款前端开发神器，此文介绍webstorm的快捷键和技巧分享。
                                所谓工欲善其事，必先利其器嘛，想着如果要提高开发效率，那掌握一些常用的快捷键应该是少不了的，所以把webstorm快捷键及技巧分享给大家。持续更新中...</p>
                        </div>
                        <div class="panel-footer index-3-l-2-blogFooter-1">
                            <div class="img-rounded">2019.0.0</div>
                            <div class="img-rounded">233+</div>
                            <div class="img-rounded">233+</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                    <div class="panel-footer">面板脚注</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                    <div class="panel-footer">面板脚注</div>
                </div>
            </div>
        </div>
        <!-- 最新博文 -->
        <div class="row hidden-xs">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#" class="index-3-l-2-blog-2-link">
                    <div class="panel panel-default">
                        <div class="panel-body index-3-l-2-blog-2">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="index-3-l-2-blog-2-img img-rounded">
                                    <img src="/images/index/3/ad1.jpg" class="img-rounded img-responsive imgScale">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="index-3-l-2-blogContent-2">
                                    <h4 class="index-3-l-2-blogTitle-2 omitOne">站在人工智能风口的Python程序员</h4>
                                    <p class="index-3-l-2-blogText-2 omitTwo">2017年短短不到三个月的时间，国内AI获投项目已有36个，千万级别融资占据半数以上。
                                        嗯，就是那么霸道。两会刚刚结束，“人工智能”首次被列入政府工作报告，随之而来的是人工智能板块领跑大盘涨势，无疑，这一切将刺激人工智能在多个领域...</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer index-3-l-2-blogFooter-2">
                            <div class="img-rounded">2019.0.0</div>
                            <div class="img-rounded">233+</div>
                            <div class="img-rounded">233+</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>