<!-- 右窗口-fixed-1 -->
<link rel="stylesheet" href="/css/index/3-r-fixed-1.css">
<div class="index-3-r-fixed-1-main">
    <h3 class="index-3-r-fixed-1-title">
        <strong><%= theme.index_3_r_fixed_1.title %></strong><small><a
                    href="#"><%= theme.index_3_r_fixed_1.subTitle %></a></small>
    </h3>
    <div class="index-3-r-fixed-1-content">
        <address>
            <% for (const item0 in theme.index_3_r_fixed_1.content) { %>
                <p><strong><%= item0 %>：</strong><%- theme.index_3_r_fixed_1.content[item0] %></p>
            <% } %>
            <script type="text/javascript"
                    src="//rf.revolvermaps.com/0/0/8.js?i=5vh8jhrjdue&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=49"
                    async="async"></script>
        </address>
    </div>
</div>