<!-- 右窗口-2 -->

<link rel="stylesheet" href="/css/index/3-r-2.css">
<div class="index-3-r-2-main">
    <h3 class="index-3-r-2-title">
        <strong>归档</strong>
    </h3>
    <div class="index-3-r-2-content">
        <a href="#">
            <div class="img-rounded index-3-r-2-text">2019.3<span>（3）</span></div>
        </a>
        <a href="#">
            <div class="img-rounded index-3-r-2-text">2019.3<span>（3）</span></div>
        </a>
        <a href="#">
            <div class="img-rounded index-3-r-2-text">2019.3<span>（3）</span></div>
        </a>
        <a href="#">
            <div class="img-rounded index-3-r-2-text">2019.3<span>（3）</span></div>
        </a>
    </div>
</div>